*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




header{
    background: url(./images/b2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 22px;
    text-align: center;
    align-items: center;
}


nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    padding-right: 20px;
}


nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.logo{
    color: #fff;
}


.temper a{
text-decoration: none;
background: #fff;
color: green;
padding: 5px 16px;
display: inline-block;
font-size: 20px;
border-radius: 20px;
margin-right: 13px;
border: 2px solid #fff;
}



.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100vh;
    line-height: 43px;
}


.content h1{
    font-size: 34px;
    color: #fff;
    font-weight: lighter;
}

.content h2{
    font-size: 44px;
    color: #fff;
}


.content p{
    color: #fff;
    width: 60%;
}


@media(max-width: 700px){

    .navbar ul{
        display: none;
    }




    .content h1{
        font-size: 24px;
        color: #fff;
        font-weight: lighter;
        padding-bottom: 10px;
    }
    



    .content h2{
        font-size: 24px;
        padding-bottom: 10px;
      
    }
    


    .content p{
        width:80%;
        box-sizing: border-box;
        padding-bottom: 20px;
    }

    .content{
        line-height: 29px;
    }


header img{
    width: 90%;
    overflow: hidden;
    height: 100vh;

}


.content{
    transform: translateY(-60px);
}




}






.we{
    width: 86%;
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.do{
    width: 80%;
    margin: auto;   
}


.do-1 p{
    font-size: 22px;
    color: green;
    padding-bottom: 10px;
}


.do-1 h2{
    padding-bottom: 20px;
}


.do-1 h3{
    width: 70%;
    margin: auto;
    letter-spacing: 2px;
    padding-bottom: 60px;
}


.boom{
    display: flex;
    text-align: left;
    padding-top: 50px;
    gap: 60px;
}

.boom-1{
    flex-basis: 47%;
}


.boom-1 img{
    width: 100%;
}


.boom-2{
flex-basis: 53%;
}

.boom-2 h2{
    font-size: 29px;
    font-weight: lighter;
}

.boom-2 h3{
    text-align: left;
}


.boom-2 p{
    font-size: 19px;
    word-spacing: 5px;
    line-height: 24px;
}










.marvel{
    display: flex;
    padding-top: 10px;
    gap: 20px;
}

.one{
    flex-basis: 32%;
    border: 2px solid rgb(196, 165, 165);
    text-align: center;
    align-items: center;
    padding: 20px 25px;
    border-radius: 6em;

}

.man{
    border: 3px solid green;
    border-left: red;
    border-right: blue;
    padding: 20px 24px;
    border-radius: 6em;
    padding-right: 20px;

}




@media(max-width:700px){

.boom{
    flex-direction: column;
}



.marvel{
    flex-direction: column;
    text-align: center;
    align-items: center;
}


.boom-2{
    text-align: center;
}
.boom-2 p{
    width: 100%;
}

.do-1 h2{
    line-height: 36px;
}



.do-1 h3{
    width: 100%;
}



}















.provide{
    margin-bottom: 100px;
    width: 80%;
    margin: auto;
    text-align: center;

}



.college{
    padding-bottom: 40px;
}


.travel{
    background: url(./images/s1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.army{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.army-1{
    flex-basis: 32%;
    background: #fff;
    padding: 55px 24px;
}

.army-1 i{
    font-size: 32px;
    padding-bottom: 18px;
}

.army-1 h1{
    padding-bottom: 20px;
    color: green;
}



.college, .college-1{
    color: #fff;
    line-height: 40px;
}



.college-1{
    padding-top: 60px;
}

.college{
    font-size: 40px;
    padding-bottom: 80px;

}





@media(max-width:700px){


.army{
    display: flex;
    flex-direction: column;
}

.travel{
    background: url(./images/s1.jpg);
    background-size: cover;
    background-position: center;
    height: 253vh;
}


}










.hard{
    display: flex;
    gap: 20px;
}

.dreams-1{
    display: flex;
    gap: 30px;
}


.coca{
    display: flex;
    gap: 50px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}

.feel-1{
    padding-top: 20px;
}

.feel{
    padding-bottom: 30px;
    width: 250px;
}

.hero{
    display: flex;
    flex-direction: column;
}

.gear{
    padding-top: 20px;
}


.here{
    padding-right: -9px;
    padding-top: 10px;
}








@media(max-width:700px){


    .hard{
        flex-direction: column;
    }


.dreams{
    flex-direction: column;
}

.dreams-1{
    flex-direction: column;
}


.coca{
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
}

.feri{
    width: 90%;
}

.here{
    width: 100%;
    margin-left: -30px;
}

.hero{
align-items: center;
    text-align: center;
}
}







.saver{
    background: green;
    margin-top: 100px;
    margin-bottom: 10px;
}

.saver i{
    color: #fff;
    font-size: 32px;
    padding-bottom: 20px;

}




.save{
    display: flex;
    justify-content: space-around;
padding: 80px 100px;
text-align: center;
}


.save p{
    color: #fff;
    font-size: 32px;
    padding-top: 14px;
}


.provideee{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 90px;

}


.decorate{
    display: flex;
    gap: 40px;
}


.goolang{
    display: flex;
gap: 50px;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
padding: 40px 22px;
align-items: center;
}


.gol-1 i{
    font-size: 32px;
}


.gol-1 h1{
    color: green;
    padding-bottom: 10px;
}

.pink{
    margin-top: 16px;
    margin-bottom: 18px;
}

.floyed{

    display: flex;
    gap: 50px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 30px 16px;
    align-items: center;
    
}






@media(max-width:700px){

.goolang{
    flex-direction: column;
}
.decorate{
    flex-direction: column;
}



.image img{
    width: 100%;
}
.save{
    flex-direction: column;
}

.save-1{
    padding-top: 100px;
}

}




.army-2{
    flex-basis: 20%;
    background: #fff;
width: 20px;

}


.army{
    display: flex;
    flex-wrap: wrap;
}




.army-2 p{
    width: 100%;
}



.army-3{
    padding: 50px 80px;
    text-align: left;
    align-items: center;

    
}


.police{
    display: flex;
    gap: 20px;
}


.gunda{
    flex-basis: 22%;
    background: #fff;
    height: 340px;
}


.gunda h1{
    padding-top: 14px;
    padding-bottom: 20px;
}


.gunda h2{
    padding-bottom: 20px;
 
}


.gunda p{
    line-height: 32px;
}


.gunda a{
    text-decoration: none;
    padding: 10px 20px;
    background: green;
    display: inline-block;
    border-radius: 16px;
    margin-top: 16px;


}


.travel-i{
    background: url(./images/s1.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
}



@media(max-width:700px){
    .police{
        flex-direction: column;
    }


    .travel-i{
        height: 250vh;
    }


    .gunda{
        flex-basis: 32%;
        background: #fff;
        height: 330px;
    }
    

    .gunda a{
        text-decoration: none;
        padding: 10px 20px;
        background: green;
        display: inline-block;
        border-radius: 16px;
        margin-top: 16px;
    
        margin-bottom: 50px;
    
    }
    

    .army-1 p{
        font-size: 20px;
        text-align: center;
        align-items: center;
    }
    


}




.college, .college-2{
    color: #fff;
    line-height: 40px;
}



.college-2{
    padding-top: 60px;
}

.college{
    font-size: 40px;
    padding-bottom: 80px;

}


.army-1 p{
    font-size: 20px;
    text-align: left;
}

.army-1 h5{
    font-size: 20px;
}


.forest{
    background: cyan;
}

.gumb{
    height: 260px;
    text-align: center;
    align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
}



.gumb i{
    border: 4px solid #fff;
    padding: 20px 30px;
    border-radius: 40px;
    font-size: 20px;
    background: #fff;
    margin-bottom: 20px;
}

.gumb h2{
    font-size: 43px;
    padding-bottom: 10px;
}

.gumb p{
    font-size: 19px;
}



.armyy{
    display: flex;
}

.chill{
    display: flex;
    gap: 8px;
    text-align: center;
    justify-content: center;
}


.chill i{
    font-size: 18px;
    padding-top: 5px;
    border: 1px solid #000;
    padding: 9px 18px;
    border-radius: 60px;
}

.trump{
    width: 80%;
    margin: auto;
    text-align: center;


}



@media(max-width: 700px){

.armyy{
    display: flex;
    flex-direction: column;
}





}


.college-22, .collegee{
    color: #000;
}



.armyyy{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.army-11{
    flex-basis: 32%;
}


.army-11 img{
width: 100%;
}




.poop{
    margin-top: 70px;
    margin-bottom: 70px;
    background: url(./images/b1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}


.army-11{
    background: #fff;
    padding: 20px 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    text-align: left;
}


.army-11 p ,h4{
line-height: 38px;
}

.army-11 p{
    font-size: 22px;
}

.army-11 h2{
    color: green;
}

.trump .trump-1{
    padding-top: 40px;
    color: #fff;
}


.trump .trump-2{
    padding-bottom: 90px;
color: #fff;
}





@media(max-width:700px){
    .armyyy{
        display: flex;
        flex-direction: column;
    }


    .poop{
        margin-top: 70px;
        margin-bottom: 70px;
        background: url(./images/b1.jpg);
        height: 230vh;
        background-size: cover;
        background-position: center;
        
    }
    
form input{
    padding: 10px 100px;
    text-align: left;
    margin-top: 18px;
    
}


.tall-2{
    display: flex;
flex-direction: column;

}


}















.contact{
    width: 80%;
    margin: auto;
    text-align: center;
}



form{
    display: flex;
    flex-direction: column;
}


form input{
padding: 20px 200px;
text-align: left;
margin-top: 18px;
}

.ball{
    display: flex;
    gap: 34px;
}


.contact h1{
    margin-bottom: 30px;
}


.tall-2{
    display: flex;
    align-items: center;
    gap: 15px;
}

.desire i{
    font-size: 32px;
}


@media(max-width:700px){

.ball{
    flex-direction: column;
}

}



.body{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 90px;
}

.class{
    padding-top: 30px;
}